.contacts {
    height: 100%;
    background-color: white;
    
}

h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    color: #05290b;
}

.block {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
   
}
.block_item {
    height: 150px;
    width: 350px;
    background: linear-gradient(to bottom right,  rgb(21, 224, 99), #31d34c);  
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.block_item:hover {
    box-shadow: 25px 25px 2px 1px rgba(183, 241, 200, 0.5);
}

.tel {
    padding-top: 15px;
}

.email {
    padding-top: 15px;
}

@media (max-width: 768px){
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        padding: 0;
    }
    .block_item {
        margin-top: 10px;
    }
}