.contacts {
    height: 80vh;
    background-color: #cdf7d4;
}

h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    color: #05290b;
}

.block {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
   
}
.block_item {
    height: 200px;
    width: 350px;
    background: linear-gradient(to bottom right,  rgb(6, 122, 50), #31d34c);  
    border-radius: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.block_item:hover {
    box-shadow: 25px 25px 2px 1px rgba(183, 241, 200, 0.5);
}

.tel {
    padding-top: 15px;
}

.email {
    padding-top: 15px;
}